body {
    margin: 0;
    background-color: #2A2C39;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 17px;
}

#map-holder {
    width: 75vw;
    height: 100vh;
    background-color: #2A2C39;
}
#outward{
    margin-left: 0.5rem;
}
#inward{
    margin-left: 1.5rem;
}
#information-holder {
    height: 100vh;
    width: 25vw;
    background-color: rgba(42, 44, 57, 0.85);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
}

#switch{
    font-size: 1em;
    line-height: 1;
    margin-top:0.7rem;
}
/* #progress-bar-large{
    padding: left 1em;
} */
.num{
    margin-left:0.7em;
    font-variant-numeric: oldstyle-nums;
    display: block-inline;
}
.user_container{
    margin-top: 1rem;
    text-align: center;
    padding: 0.5em;
}
.num_indicator{
    /* margin-left:0.5em; */
    display: inline-block;
    background-color: rgba(16, 26, 9, 0.9);
    border-radius: 5px;
    padding: 0.2em 0.5em 0.2em 0.5em;
    width: 50%px;
}
.num_container{
    text-align: center;
}
.num_indicator span{
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.num_container div{
    display: inline-block;
}
.num_container div:nth-child(2){
    margin-left: 2em;
}

#userChangeLineChart{
    margin-top:1em;
    height:35vh;
    width: 23.5vw;
}
#countryName-holder {
    padding: 5%;
    height: 12vh;
    text-align: center;
}


#statistics-holder {
    /* margin: 2.5%; */
    margin-top: 1em;
    padding: 2.5%;
    color: white;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    text-align: justify;
}
#user-piechart svg{
    display: block;
    margin: auto;

}
#progress-bar {
    padding: 2.5%;
    margin-left: 1em;
    width: 23vw;
    color: white;
    text-align: justify;
}


.country-name {
    position: relative;
    text-align: center;
    top: 24%;
    color: white;
    font-size: xx-large;
    font-weight: 600;
    font-family: cursive;
}

.hbar-title {
    position: relative;
    text-align: center;
    top: 17%;
    color: white;
    font-family: cursive;
    font-size:x-large;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 0px;
}

svg rect {
    fill: #2A2C39;
    /* map background colour */
}

.country {
    stroke: rgb(107, 161, 206);
    /* country border colour */
    stroke-width: 1;
    /* country border width */
}

.country:hover {
    stroke: #fff;
    /* country border colour */
    stroke-width: 1;
    /* country border width */
}

.country-on {
    fill: #4B5358 !important;
    /* highlight colour for selected country */
}

.countryLabel {
    display: none;
    /* hide all country labels by default */
}

.countryName {
    fill: #FFFAFF;
    /* country label text colour */
}

.countryNameSourceFlow {
    fill: "green";
    /* country label text colour */
}

.countryLabelBg {
    fill: #30BCED;
    /* country label background colour */
}


/*flow part*/

.line {
    stroke: pink;
    stroke-width: 5;

}

.circle {
    color: #9966CC;
    fill: #9966CC;

}

#arrow {
    color: #9966CC;
    fill: #9966CC;
}

.slidecontainer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
.range {
    position: relative;
    width: 550px;
    height: 5px;
}
.range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
}
.range input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
}
.range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #ffffff;
}
.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #ffffff;
}
.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #ffffff;
}
.range input:focus {
    background: none;
    outline: none;
}
.range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}
.range-labels li {
    position: relative;
    float: left;
    width: 105.5px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 9px;
    height: 9px;
    background: #ffffff;
    border-radius: 50%;
}
.range-labels .active {
    color: #37adbf;
}
.range-labels .selected::before {
    background: #37adbf;
}
.range-labels .active.selected::before {
    display: none;
}
.slider {
    width: auto;
    margin-right: 100px;
}
.slider-button {
    position: absolute;
    right: 0;
    top: 0
}
#play-btn{
    background: #2A2C39;
    border: 1px, #fff;
    color: #fff;
}
.loop-btn-inactive {
    background: #2A2C39;
    border: 1px, #fff;
    color: #fff;
}
.loop-btn-active{
    background: #fff;
    border: 1px, #fff;
    color: #000;
}
